.form-connexion {
    position:absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 500px;
    height: auto;
}

.help-block ul.list-unstyled{
    background-color: #e57373;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}